<nav class="navbar navbar-expand-lg bg-light pt-3 pb-2">
  <div class="container">
    <a class="navbar-brand text-warning bg-dark px-4 rounded me-5 py-2 ms-5" href="/"><h5 class="pt-1">Timur</h5></a>
    <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#home">Home</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#history">History</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#service">Service</a>
        </li>
          <li class="nav-item">
          <a class="nav-link active text-primary" aria-current="page" href="#gallery">Gallery</a>
        </li>
      </ul>
      <form class="d-flex">
          <li class="nav-item dropdown d-flex p-2 ">
          <a class="nav-link dropdown-toggle py-1 text-primary" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Language
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item text-primary" href="#">English</a></li>
            <li><a class="dropdown-item text-primary" href="#">Uzbek</a></li>
            <li><a class="dropdown-item text-primary" href="#">Russian</a></li>
          </ul>
        </li>
          <a class="btn btn-info btn-outline-light rounded-3 me-5 mx-3 pt-2" href="{% url 'input' %}">Input info</a>
      </form>
    </div>
  </div>
</nav>
